/*body {
    background-image: url("../images/background.jpeg");
    z-index:1;
    //background-size: cover;
    //padding: 10px;
}*/

#banner {
    position: relative;
    margin-top: -30px;
}

#nav {
    position: relative;
    width: 100%;
}

#schedule2{
    display: none
}

/* Landscape*/
@media only screen and (orientation: landscape) {
    #schedule{
        display: none
    }
    
    #schedule2{
    display: block
}
    }
